@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Comforter&family=Grandstander:wght@100&display=swap");

.App {
  text-align: center;
  font-family: "Grandstander";
  font-size: "25px";
  width: "90%";
}